
   .aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 50vh;
    width:75vw;
    top:20px;
    margin: auto;
   }
   .aboutContent {
    background-color: #dcd7d7;
    padding:80px;
    margin: auto;
    border-radius: 20%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1{
    font-size: 1.8rem;
    color: #444;
    text-align: center;
    padding-bottom: 30px;
    font-family: "Varela Round", sans-serif;
  }
  .aboutDesc{
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.3;
    color: #666;
    font-family: "Varela Round", sans-serif;
    text-align: justify;
  }
  h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #444;
    font-family: "Varela Round", sans-serif;
  }
  .missionPara{
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.3;
    color: #666;
    font-family: "Varela Round", sans-serif;
  }
  .contactUs{
    text-align: center;
    margin-bottom: 20px;
  }
  .contactDiv{
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .contactDivLeft{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactDivLeft > p {
    font-size: 1rem;
    color: #666;
    font-family: "Varela Round", sans-serif;
    line-height: 1.3;
  }
  .contactDivRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #666;
    font-family: "Varela Round", sans-serif;
    line-height: 1.3;
  }
  .contactList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin-top: 17px;
  }
  .contactList li {
    font-size: 1.0rem;
 
    margin-bottom: 5px;
    color: #666;
  }
  .socialLinks {
    display: flex;
    margin-left: 35px;
    gap: 10px;
    margin-top:15px;
    color: #444;
  }
  
  .socialLinks a {
    align-items: flex-start;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
    font-family: "Varela Round", sans-serif;
  }
  .socialLinks a:hover {
    color: #0056b3;
  }
  .btn{
    margin-top: 30px ;
    margin-left: 345px;
    width: fit-content;
    padding: 14px 50px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #555;
    color: #fff;
  }
  /* ------------------------------------------------------------------------------------------------------ */
  /* Responsive media query for smaller screens */
/* Media query for small screens */
@media screen and (max-width: 768px) {
  
  .aboutContent{
    top:10px;
    width: 100%;
    border-radius: 0%;
    margin-left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .aboutDesc{
    font-size: 1.0rem;
    line-height: 1.1;
    color: #666;
    width: 70vw;
    text-align:justify;
    
  }
  .missionPara{
    /* margin-left: -15px; */
    text-align: justify;
    font-size: 1.0rem;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #666;
    width: 70vw;
  }
  .contactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .contactDivLeft{
    font-size: 1.0rem;
    line-height: 1.1;
    text-align:justify;
  }
  .contactList > li{
    padding: auto;
    margin-left: -80px;
    margin-bottom: 20px;
  }
  .socialLinks{
   
    margin: auto;
    
  }
  .socialLinks:hover{
    color: #666;
  }
  .btn{
    
    margin: auto;
    margin-top: 30px;
  }
}