.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Assuming your breakpoint for phone screens is around 480px */
/* ... Your existing CSS code ... */

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .topCenter {
    display: none;
  }

  .topRight {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-open .topList {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu-open .topListItem {
    margin: 15px 0;
  }
}
