.footer{
 
    width: 100%;
    height: 30px;
    position: sticky;
    text-align: center;
    padding: 25px 0;
    background-color: #b1afb2;
    color:  #444;;
    font-weight: 300;
    margin-bottom: 0px;
    
}
.copyright .fa-heart{
    color: #555;
}
