.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 70px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 90px;
    object-fit: cover;
}
/* ------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 600px){
  .headerImg{
  
    width:90%;
    height:10%;
    background-size: cover;
     margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
  }
  .headerTitleLg {
    position: absolute;
  font-size: 40px;
  top: 20%;

  }
  .headerTitleSm{
    position: absolute;
    top: 17%;
    font-size: 15px;
  }
}